body {
    font-family: Verdana, sans-serif;
    background-color: #040425;
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.container {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 50px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    transition: border-color 0.3s;
}

.bold {
    font-weight: bold;
}

button {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #0073B1;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    transform: scale(1.1);
}

#result {
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    text-align: center;
}

.note-box {
    text-align: center;
    margin-top: 50px;
    color: white;
    padding: 30px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #00965a;
    opacity: 0.9;
    background-image: radial-gradient(circle at center center, #e4e4ec, 
    #00965a) , repeating-radial-gradient(circle at center center, 
    #e4e4ec,       #e4e4ec, 5px, transparent 10px, transparent 5px);
    background-blend-mode: multiply;
    margin-left: 100px;
    margin-right: 100px;
}

footer {
    text-align: center;
    color: white;
    margin-top: 50px;
}
